@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
    --blanco: #fff;
    --negro: #000;
    --celeste: #0ed6a9;
    --gris: #444;
    --violeta: #ff68f2;
    --azul: #0a0064;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #222;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 18vh;
    margin-top: 10px;
    background: #000;
    border-top: 5px solid var(--celeste);
    border-bottom: 5px solid var(--celeste);
    box-shadow: 0px 3px 10px var(--celeste), 0px -3px 10px var(--celeste);
    transition: .5s ease-in 1.5s;
    transition-property: margin, border, box-shadow;
}

.head-left {
    width: 55vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-left .logo img {
    margin-left: 2vw;
    height: 16vh;
}

.head-left h1 {
    color: #fff;
    cursor: default;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    transition: .5s ease-in 2s;
    text-shadow: 5px 5px 3px var(--celeste), 5px 0px 10px var(--celeste), 5px 5px 25px var(--celeste), 5px 5px 40px var(--celeste);
}

.head-right {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px;
}

.head-right div {
    display: grid;
    place-items: center;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    background-color: #222;
    border: 5px solid #000;
    border-bottom: 10px solid #000;
    border-top: 10px solid #000;
    border-radius: 20px;
    transition: .2s ease-in-out;
}

.head-right div:hover {
    border: 12px solid #000;
    background-color: #555;
}

.head-right div h2 {
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    color: var(--celeste);
    text-shadow: 0px 0px 15px var(--celeste), 0px 0px 5px var(--celeste);
    transition: .5s ease-in 1.5s;
    cursor: pointer;
}